
{% extends 'base.html' %}
{% load static %}
{% block 'body' %}

    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url({% static 'images/bg_1.jpg' %})">
      <div class="container">
        <div class="row align-items-end">
          <div class="col-lg-7 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
            <h2 class="mb-0">Freshers Placement</h2>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="{% url 'index' %}">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <a href="#">Placement</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Freshers Placement</span>
      </div>
    </div>
    
    
    <div class="site-section">
      <div class="container">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
              <img src="{% static 'img/Star-image1.webp' %}" alt="Image" class="img-fluid">
            </div>
            <div
              class="col-lg-7 ml-auto align-self-center  col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center">
              <h2 class="mt-2 mb-3" style="font-weight: 600; color: #00024d;">
                <span>Freshers Job Openings</span>
              </h2>
              <p style="font-size: 15px; font-weight: 200; color: rgb(0, 0, 0);">Companies are hesitant to hire freshers as they consider them incompetent to handle market challenges. Besides, companies are not ready to chip in for the training of these aspirants. That’s when training institutes in Pune, like Cyber Success, comes to the rescue. Cyber Success trains aspirants with live projects, mock interviews, and aptitude tests. It helps students carve a brighter future under the guidance of the most efficient industry leaders.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section-bg" style="background-color: rgb(88, 199, 243);">
      <div class="container">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-7 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center" style="border-radius: 5px;">
                  <img src="{% static 'client/about-img-1-1.webp' %}" class="img-fluid" width="450px" height="450px" alt="">
              </div>
              <div class="col-lg-5 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0" style="border-radius: 5px;">
                <h2 class="text-light"><strong>100% Job Assistance</strong></h2>
                <p style="font-size: 15px; font-weight: 200; color: rgb(255, 255, 255);">As the best training institute in Pune, we at Cyber Success organize demonstration classes free of cost to give students a fair idea about our teaching pattern. These classes are conducted by our best trainers who inform every detail about the courses. Once students get enrolled, we take them through rigorous training. Our training method is solely based on the industrial standards wherein we undertake practical sessions as it is the prerequisite of the IT industry.</p>
                <p style="font-size: 15px; font-weight: 200; color: rgb(255, 255, 255);">The more you practice, the easier it becomes to implement skills. And these vital features about Cyber Success make it a great learning place. We train students by considering the latest industry requirements. Our training commences from scratch and concludes with a LIVE project. Most importantly, we allocate assignments in a group for students to get accustomed to teamwork. We also organize extra classes for clarifying all doubts.</p>
              </div>
            </div>
          </div>
        </div>
          <div class="col-lg-12 mt-3">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center" style="border-radius: 5px;">
                <div class="p-2 mr-1 bg-white">
                  <img src="{% static 'img/award.gif' %}" class="img-fluid" width="80px" height="80px" alt="">
                  <h5 style="color: #00024d;"><strong>100% Placement Assistance</strong></h5>
                  <p style="font-size: 15px; font-weight: 200; color: rgb(0, 0, 0);">Brace yourself with mock interviews
                    before you face the competitive market.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center "
                style="border-radius: 5px;">
                <div class="p-2 mr-1 bg-white">
                  <img src="{% static 'img/groom.gif' %}" class="img-fluid" width="80px" height="80px" alt="">
                  <h5 style="color: #00024d;"><strong>Industry Experts <br>Trainer</strong></h5>
                  <p style="font-size: 15px; font-weight: 200; color: rgb(0, 0, 0);">Get trained under maestros who flaunt
                    exhaustive knowledge of the industry.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center"
                style="border-radius: 5px;">
                <div class="p-2 mr-1 bg-white">
                  <img src="{% static 'img/coding.gif' %}" class="img-fluid" width="80px" height="80px" alt="">
                  <h5 style="color: #00024d;"><strong>Best Practical Knowledge</strong></h5>
                  <p style="font-size: 15px; font-weight: 200; color: rgb(0, 0, 0);">Get hands-on experience to tackle the
                    challenges of the IT field.</p><br>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center"
                style="border-radius: 5px;">
                <div class="p-2 pb-1 mr-1 bg-white">
                  <img src="{% static 'img/medal.gif' %}" class="img-fluid" width="80px" height="80px" alt="">
                  <h5 style="color: #00024d;"><strong>Preparation for Global Certification</strong></h5>
                  <p style="font-size: 15px; font-weight: 200; color: rgb(0, 0, 0);">Showcase your competency and
                    skyrocket your career with global certification.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="container mt-3">
		<div id="accordion">
			<div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse20">
						<i class='bx bx-plus'></i> <span>Software Testing | REQ-CST-NQF27</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge bg-primary">23-July-2023</span>
					</a>
				</div>
				<div id="collapse20" class="collapse show" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
						<p class="text-dark text-start">
            <strong>Code:</strong> REQ-CST-NQF27
            <br>
            <strong>Qualification:</strong> Any Graduate
            <br>
            <strong>Stream:</strong> CS/IT
            <br>
            <strong>Percentage:</strong> NA
            <br>
            <strong>Year of Passing:</strong> 2019 & Onwards
            <br>
            <strong>Experience:</strong> Fresher
            <br>
            <strong>Interview Location:</strong> Online
            <br>
            <strong>Job Location:</strong> Banglore
            </p>
					</div>
				</div>
			</div>
			<div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse21">
						<i class='bx bx-plus'></i> I am working, then can I adjust my batch?
					</a>
				</div>
				<div id="collapse21" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
					<p>
            Yes sure. We have special weekend batches for working professionals.
          </p>
					</div>
				</div>
			</div>
			<div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse22">
						<i class='bx bx-plus'></i> Will I get study resources?
					</a>
				</div>
				<div id="collapse22" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
						<p>
              Once you enroll in our Python coaching, we provide all online resources at your doorstep. Right from eBooks, notes, tips, tricks, and practice tests are provided via email or WhatsApp. So, rest assured that you will be properly looked after!
            </p>
					</div>
				</div>
			</div>
			<div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse23">
						<i class='bx bx-plus'></i> What are the qualifications of trainers?
					</a>
				</div>
				<div id="collapse23" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
						<p>
              The trainers of Cyber Success Online are the best industry leaders who have expansive knowledge about the market. They are Python certified and are working with some of the reputed MNCs.
            </p>
					</div>
				</div>
			</div>
      <div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse31">
						<i class='bx bx-plus'></i> Which companies are using Python?
					</a>
				</div>
				<div id="collapse31" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
						<p>
              Google, Instagram, Netflix, and Quora are some of the best companies using Python.
            </p>
					</div>
				</div>
			</div>
      <div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse41">
						<i class='bx bx-plus'></i> What will be the timing of my sessions?
					</a>
				</div>
				<div id="collapse41" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
						<p>
              It all depends on your availability. You can access at any time. But it is imperative to complete the course duration.
            </p>
					</div>
				</div>
			</div>
      <div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse50">
						<i class='bx bx-plus'></i> What are the various payment modes?
					</a>
				</div>
				<div id="collapse50" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
					<p>
            We accept most of the payment modes like online banking, UPI, bank transfer, etc. For more information, feel free to contact us.
          </p>
					</div>
				</div>
			</div>
      <div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse61">
						<i class='bx bx-plus'></i> Is a Python course enough to get a job?
					</a>
				</div>
				<div id="collapse61" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
						<p>
              Yes, it is appropriate to get a job based on the Python course. But you need to know some advanced terminologies. So, join Cyber Success Online and get trained as per industry trends.
            </p>
					</div>
				</div>
			</div>
      <div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse71">
						<i class='bx bx-plus'></i> Can I avail 100% placement assistance?
					</a>
				</div>
				<div id="collapse71" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
						<p>
              Yes, we offer placement assistance to all students. We help them by undertaking mock interviews, designing resumes, and arrange job calls.
            </p>
					</div>
				</div>
			</div>
      <div class="card mt-2">
				<div class="card-header">
					<a class="collapsed text-muted" style="font-weight: 600;" data-bs-toggle="collapse" href="#collapse81">
						<i class='bx bx-plus'></i> Do you have a group discount?
					</a>
				</div>
				<div id="collapse81" class="collapse" data-bs-parent="#accordion">
					<div class="card-body" style="font-size: 14px; font-weight: 500;">
						<p>
              Yes, we do have group discounts. For that, feel free to contact us, and we will give you more information.
            </p>
					</div>
				</div>
			</div>
    </div>
  </div>
{% endblock 'body' %}    
 