{% extends 'base.html' %}
{% load static %}
{% block 'body' %}

<div class="hero-slide owl-carousel site-blocks-cover" style="height: 100%; width: 100%;">
  <div class="intro-section" id="div1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
          <span style="font-size: 20px; font-weight:500;" class="text-mute">PROFESSIONAL IT TRAINING
            INSTITUTE</span><br>
          <h3 style="font-weight: 600; font-size: 50px; color: whitesmoke;">World Leading Institute- Cyber Success
          </h3>
          <span style="font-size: 20px; font-weight: 500; color: whitesmoke;">Discover The Potentiality Inside You,
            With Us. Choose Your Preferred Course From Our Any Categories You Like.</span>
          <a href="#" class="btn btn-primary pt-2 pb-2 pr-5 pl-5 mt-3 mr-4 text-white"
            style="border-radius: 5px;">Enquire Now</a>
          <a href="#" class="btn btn-info pt-2 pb-2 pr-5 pl-5 mt-3 text-white" style="border-radius: 5px;">Apply For
            Free Demo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="intro-section" id="div2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 mx-auto text-start" data-aos="fade-up">
          <span style="font-size: 20px; font-weight: 500;" class="text-mute">PROFESSIONAL IT TRAINING
            INSTITUTE</span><br>
          <h3 style="font-weight: 600; font-size: 50px; color: whitesmoke;">Software Testing</h3>
          <span style="font-size: 20px; font-weight: 500; color: whitesmoke;">Complete Software Testing - Selenium +
            Java Automation <br>Selenium + Python Automation - API Testing</span><br>
          <a href="#" class="btn btn-primary pt-2 pb-2 pr-5 pl-5 mt-3 mr-4 text-white"
            style="border-radius: 5px;">Enquire Now</a>
          <a href="#" class="btn btn-info pt-2 pb-2 pr-5 pl-5 mt-3 text-white" style="border-radius: 5px;">Apply For
            Free Demo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="intro-section" id="div3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 mx-auto text-start" data-aos="fade-up">
          <span style="font-size: 20px; font-weight: 500;" class="text-mute">PROFESSIONAL IT TRAINING
            INSTITUTE</span><br>
          <h3 style="font-weight: 600; font-size: 50px; color: whitesmoke;">Programming Languages</h3>
          <span style="font-size: 20px; font-weight: 500; color: whitesmoke;">Java / Python</span><br>
          <a href="#" class="btn btn-primary pt-2 pb-2 pr-5 pl-5 mt-3 mr-4 text-white"
            style="border-radius: 5px;">Enquire Now</a>
          <a href="#" class="btn btn-info pt-2 pb-2 pr-5 pl-5 mt-3 text-white" style="border-radius: 5px;">Apply For
            Free Demo</a>
        </div>
      </div>
    </div>
  </div>

</div>





<div class="section-bg" style="background-color: rgb(245, 245, 245);">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="row">
        <div
          class="col-lg-2 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-centeraos-init text-center aos-animate"
          data-aos="fade-up">
          <img src="{% static 'img/coding.png' %}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;" class="mt-3">Programming Languages</h5>
          <small style="font-weight: 500; color: black;" class="text-center">2 course</small>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <img src="{% static 'img/web-development.png' %}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;" class="mt-3">Web Development</h5>
          <small style="font-weight: 500; color: black;" class="text-center">5 course</small>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <img src="{% static 'img/programing.png' %}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;" class="mt-3">Software <br>testing</h5>
          <small style="font-weight: 500; color: black;" class="text-center">5 course</small>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <img src="{% static 'img/cloud-computing.png' %}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;" class="mt-3">Cloud <br>Computing</h5>
          <small style="font-weight: 500; color: black;" class="text-center">2 course</small>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <img src="{% static 'img/analytics.png' %}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;" class="mt-3">Data <br> Science</h5>
          <small style="font-weight: 500; color: black;" class="text-center">1 course</small>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <img src="{% static 'img/coding2.png'%}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;" class="mt-3">Full Stack Development</h5>
          <small style="font-weight: 500; color: black;" class="text-center">2 course</small>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-bg bg-primary">
  <div class="container">
    <div class="col-lg-12" data-aos="fade-right">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <img src="{% static 'img/profile.png' %}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;">Industry Trainers</h5>
          <small style="font-weight: 500; color: black;" class="text-center">Opportunity to get trained under the
            best and knowledgeable industry mentors.</small>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <img src="{% static 'img/programming4857.png' %}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;">Practical Knowledge</h5>
          <small style="font-weight: 500; color: black;" class="text-center">Time to broaden your knowledge and gain
            a deeper understanding of concepts.</small>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <img src="{%static 'img/handshake.png'%}" class="img-fluid" width="80px" height="80px" alt=""><br>
          <h5 style="font-weight: 600; color: #00024d;">Placement Assistance</h5>
          <small style="font-weight: 500; color: black;" class="text-center">We offer 100% placement assistance with
            prepping and training for job interviews.</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-bg bg-light">
  <h2 style="font-weight: 600; color: #00024d;" class="justify-content-center align-items-center text-center">
    Trending Courses</h2><br>
  <div class="container" data-aos="fade-up">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'img/software_testing.jpeg'%}" class="card-img-top" style="width: 100%">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">Software Testing</h4>
              <p class="card-text"><small>Software Testing Training Institute In Pune,
                  a Bright Future Awaits For You.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'img/javaj2ee.jpeg'%}" class="card-img-top" style="width: 100%; ">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">JAVA/J2EE</h4>
              <p class="card-text"><small>Carve A Bright Future by Enrolling in
                  Programming Languages Classes in Pune.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'img/software_testing.jpeg'%}" class="card-img-top" style="width: 100%">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">Python</h4>
              <p class="card-text"><small>Carve A Bright Future by Enrolling in
                  Programming Languages Classes in Pune.</small></p>
              <a href="python.html" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-bg" id="div4">
  <div class="container">
    <div class="container">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0" data-aos="fade-up">
            <h3 style="font-weight: 600; color: whitesmoke;">Academics IT Training Institute</h3>
            <p style="font-weight: 500; color: rgb(213, 213, 213);" class="mt-2">
              Are you one of those who finished education and is yearning for a dream job? Then, Cyber Success
              welcomes you with open hands. To impart knowledge and make students capable of IT industries, Cyber
              Success has designed professional courses that play a crucial role in reputed companies.
            </p>
            <a href="about.html" class="btn btn-primary">About Academics</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="site-section">
  <div class="container">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
          <img src="{%static 'client/IT-home-page.webp'%}" alt="Image" class="img-fluid">
        </div>
        <div
          class="col-lg-5 ml-auto align-self-center col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center">
          <small style="color: darkred;">Academics</small>
          <h2 class="mt-2 mb-3" style="font-weight: 600; color: #00024d;">
            <span>IT Training Institute In Pune - Academics</span>
          </h2>
          <p style="font-size: 15px; font-weight: 200; color: rgb(0, 0, 0);">Are you one of those who finished
            education and is yearning for a dream job? Then, Cyber Success welcomes you with open hands. To impart
            knowledge and make students capable of IT industries, Cyber Success has designed professional courses
            that play a crucial role in reputed companies. The courses offered by us complement the current market
            trends, and we assure you that they will prove to be a milestone in your career. You are one step away
            from success!
          <p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-bg style-1" id="div5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
        <div class="row">
          <div class="col-lg-12 form-group bg-primary" style="border-radius: 5px;">

            <h4 class="text-center text-white mt-3" style="font-weight: 600;">Enquire Now</h4>

            <input style="border: 2px solid lightgrey;" type="text" id="fname" class="mt-3 form-control form-control-md"
              placeholder="Full Name" required>
            <span id="span1"></span>

            <input style="border: 2px solid lightgrey;" type="text" id="eaddress"
              class="mt-3 form-control form-control-md" placeholder="Email Address" required>
            <span id="span2"></span>

            <input style="border: 2px solid lightgrey;" type="text" id="phone" class="mt-3 form-control form-control-md"
              placeholder="Phone Number" required>
            <span id="span3"></span>

            <input style="border: 2px solid lightgrey;" type="text" id="tel" class="mt-3 form-control form-control-md"
              placeholder="Programming Language - Python" required>
            <span id="span4"></span>

            <textarea style="border: 2px solid lightgrey;" name="text" id="message" cols="30" rows="3"
              class="mt-3 form-control" placeholder="Message / Optional"></textarea>

            <button onclick="change_me()" type="submit" class="mt-3 mb-3 form-control btn"
              style="background-color: #00024d; color: white;">Book Our Free Demo Class</button>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0" data-aos="fade-up">
        <div class="p-2">
          <h3 style="font-weight: 600; color: whitesmoke;">
            Free Demo Sessions</h3>
          <p style="font-weight: 500; color: rgb(213, 213, 213);" class="mt-2">
            Students are often grappled with doubts related to the training institute and courses. Therefore, to
            help them out, demo classes come to the rescue. Similarly, we at Cyber Success conduct demo sessions to
            give you a tour of our classroom facilities, teaching environment, infrastructure, and much more. So,
            check out the list below or fill up the enquiry form, and our counselor will guide you through a free
            demo session.
          </p>
          <a href="about.html" class="btn btn-primary">Book Our Free Demo Class</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-bg bg-light">
  <h2 style="font-weight: 600; color: #00024d;" class="justify-content-center align-items-center text-center">Our
    Courses</h2><br>
  <div class="container" data-aos="fade-up">
    <div class="col-lg-12">
      <div class="row mb-5">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'img/software_testing.jpeg'%}" class="card-img-top" style="width: 100%">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">Software Testing</h4>
              <p class="card-text"><small>Software Testing Training Institute In Pune,
                  a Bright Future Awaits For You.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'img/javaj2ee.jpeg'%}" class="card-img-top" style="width: 100%; ">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">JAVA/J2EE</h4>
              <p class="card-text"><small>Carve A Bright Future by Enrolling in
                  Programming Languages Classes in Pune.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'img/software_testing.jpeg'%}" class="card-img-top" style="width: 100%">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">Python</h4>
              <p class="card-text"><small>Carve A Bright Future by Enrolling in
                  Programming Languages Classes in Pune.</small></p>
              <a href="python.html" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'client/Full-Stack-Testing-21.webp'%}" class="card-img-top" style="width: 100%">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">Full Stack Testing</h4>
              <p class="card-text"><small>Software Testing Training Institute In Pune, a Bright Future Awaits For
                  You.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'client/java-full-stack-development.webp'%}" class="card-img-top" style="width: 100%; ">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">Java Full Stack
                Development</h4>
              <p class="card-text"><small>Master Of Full Stack Development.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'client/python-full-stack-development.webp'%}" class="card-img-top" style="width: 100%">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">Python Full Stack Development</h4>
              <p class="card-text"><small>Master Of Full Stack Development.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'client/Selenium-Java-Automation-21.webp'%}" class="card-img-top" style="width: 100%">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">Selenium Java Automation</h4>
              <p class="card-text"><small>Software Testing Training Institute In Pune, a Bright Future Awaits For
                  You</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'client/API-Testing-21.webp'%}" class="card-img-top" style="width: 100%; ">
            <div class="card-body mb-3">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">API Testing</h4>
              <p class="card-text"><small>Software Testing Training Institute In Pune, a Bright Future Awaits For
                  You.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center text-center">
          <div class="card" style="width: 95%; background-color: rgb(248, 246, 246);">
            <img src="{%static 'client/UI-Development-21.webp'%}" class="card-img-top" style="width: 100%">
            <div class="card-body">
              <h4 class="card-title" style="font-weight: 600; color: #00024d;">UI Development</h4>
              <p class="card-text"><small>Explore Web Development Training in Pune with Live projects for hands-on
                  experience.</small></p>
              <a href="#" class="btn btn-primary">Start Course</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mx-auto justify-content-center align-self-center align-items-center">
        <center><a href="#" class="btn btn-info pt-2 pb-2 pr-5 pl-5 mt-3 text-white" style="border-radius: 5px;">View
            More</a></center>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="col-lg-12">
      <h2 class="text-center" style="font-weight: 600; color: #00024d;">
        <span>Browse Through Our Placement Videos</span>
      </h2>
      <p style="font-size: 15px; font-weight: 200; color: rgb(0, 0, 0);">We know every student needs a boost. Cyber
        Success brings together career support enhanced with top-notch mentorship and 100% placement assistance.
        These videos are proof of our intensive hard work put together.</p><br>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
          <div>
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
          <div>
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
          <div>
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-bg style-1 mt-5" id="div6">
  <div class="container" data-aos="fade-up">
    <div class="col-lg-12">
      <h2 class="text-center" style="color: #ffffff;"><strong>Job Opening</strong></h2><br>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center">
          <div class="card" style=" background-color: rgb(248, 246, 246);">
            <div class="card-body">
              <h5 class="card-title btn btn-primary" style="width: 100%; font-weight: 600; color: #00024d;">Software
                Testing</h5>
              <p class="text-dark text-start">
                <strong>Code:</strong> REQ-CST-NQF27

                <strong>Qualification:</strong> Any Graduate

                <strong>Stream:</strong> CS/IT

                <strong>Percentage:</strong> NA

                <strong>Year of Passing:</strong> 2019 & Onwards

                <strong>Experience:</strong> Fresher

                <strong>Interview Location:</strong> Online

                <strong>Job Location:</strong> Banglore
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center">
          <div class="card" style=" background-color: rgb(248, 246, 246);">
            <div class="card-body">
              <h5 class="card-title btn btn-primary" style="width: 100%; font-weight: 600; color: #00024d;">Software
                Testing</h5>
              <p class="text-dark text-start">
                <strong>Code:</strong> REQ-CST-NQF27

                <strong>Qualification:</strong> Any Graduate

                <strong>Stream:</strong> CS/IT

                <strong>Percentage:</strong> NA

                <strong>Year of Passing:</strong> 2019 & Onwards

                <strong>Experience:</strong> Fresher

                <strong>Interview Location:</strong> Online

                <strong>Job Location:</strong> Banglore
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center">
          <div class="card" style=" background-color: rgb(248, 246, 246);">
            <div class="card-body">
              <h5 class="card-title btn btn-primary" style="width: 100%; font-weight: 600; color: #00024d;">PYTHON
                DEVELOPER</h5>
              <p class="text-dark text-start">
                <strong>Code:</strong> REQ-CST-NQF27

                <strong>Qualification:</strong> Any Graduate

                <strong>Stream:</strong> CS/IT

                <strong>Percentage:</strong> NA

                <strong>Year of Passing:</strong> 2019 & Onwards

                <strong>Experience:</strong> Fresher

                <strong>Interview Location:</strong> Online

                <strong>Job Location:</strong> Banglore
              </p>
            </div>
          </div>
        </div>
        <div class="mx-auto justify-content-center align-self-center align-items-center">
          <center><a href="#" class="btn btn-info pt-2 pb-2 pr-5 pl-5 mt-5 text-white" style="border-radius: 5px;">View
              More</a></center>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="site-section">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center">
      <h2 class="mb-5" style="color: #00024d;">
        <strong>Our Student Say About Us</strong>
      </h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">

        <div class="feature-1 border person text-center bg-white">
          <img src="{%static 'images/person_1.jpg'%}" alt="Image" class="img-fluid">
          <div class="feature-1-content">
            <h2>Craig Daniel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
        <div class="feature-1 border person text-center bg-white">
          <img src="{%static 'images/person_2.jpg'%}" alt="Image" class="img-fluid">
          <div class="feature-1-content">
            <h2>Taylor Simpson</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
        <div class="feature-1 border person text-center bg-white">
          <img src="{%static 'images/person_3.jpg'%}" alt="Image" class="img-fluid">
          <div class="feature-1-content">
            <h2>Jonas Tabble</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">

        <div class="feature-1 border person text-center bg-white">
          <img src="{%static 'images/person_4.jpg'%}" alt="Image" class="img-fluid">
          <div class="feature-1-content">
            <h2>Craig Daniel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock 'body' %}