{% extends 'base.html' %}
{% load static %}
{% block 'body' %}

    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url({% static 'images/bg_1.jpg' %})">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
              <h2 class="mb-0">Testimonial</h2>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="custom-breadcrumns border-bottom">
        <div class="container">
          <a href="{% url 'index' %}">Home</a>
          <span class="mx-3 icon-keyboard_arrow_right"></span>
          <a href="#">Placement</a>
          <span class="mx-3 icon-keyboard_arrow_right"></span>
          <span class="current">Testimonial</span>
        </div>
      </div>
    <div class="site-section">
      <div class="container">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
              <img src="{% static 'imga/testimonials-cybersuccess.webp' %}" alt="Image" class="img-fluid">
            </div>
            <div
              class="col-lg-5 ml-auto align-self-center col-md-6 col-sm-6 mb-5 p-2 mb-lg-0 justify-content-center align-items-center">
              <h2 class="mt-2 mb-3" style="font-weight: 600; color: #00024d;">
                <span>Student's Feedback</span>
              </h2>
              <p style="font-size: 15px; font-weight: 200; color: rgb(0, 0, 0);">Student’s feedback plays a pivotal role in the welfare of the institute. Therefore, as the best training institute in Pune, Cyber Success scrutinizes every positive and negative feedback to maintain its efficacy. Effective feedback helps an institute grow and supports student retention. It boosts our confidence and urges all team members to offer the best of services to our students. Timely suggestions help us progress!
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr style="border: 1px solid gray; width: 95%;">
    <!-- // 05 - Block -->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 style="color: #00024d; text-align: center;">
              <strong>Testimonials</strong>
            </h2>
          </div>
        </div>


        <div class="owl-slide owl-carousel">

          <div class="ftco-testimonial-1">
            <div class="d-flex align-items-center mb-4">
              <img src="{% static 'imga/1.webp' %}" style="width: 600px;height: 500px;" alt="Image" class="img-fluid mr-3">
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="d-flex align-items-center mb-4">
              <img src="{% static 'imga/2.webp' %}" style="width: 600px; height: 500px;" alt="Image" class="img-fluid mr-3">
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="d-flex align-items-center mb-4">
              <img src="{% static 'imga/3.webp' %}" style="width: 600px; height: 500px;" alt="Image" class="img-fluid mr-3">
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="d-flex align-items-center mb-4">
              <img src="{% static 'imga/5.webp' %}" style="width: 600px; height: 500px;" alt="Image" class="img-fluid mr-3">
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="d-flex align-items-center mb-4">
              <img src="{% static 'imga/4.webp' %}" style="width: 600px; height: 500px;" alt="Image" class="img-fluid mr-3">
            </div>
          </div>

          <div class="ftco-testimonial-1">
            <div class="d-flex align-items-center mb-4">
              <img src="{% static 'imga/3.webp' %}" style="width: 600px; height: 500px;" alt="Image" class="img-fluid mr-3">
            </div>
          </div>

        </div>

      </div>
    </div>


    <hr style="border: 1px solid gray; width: 95%;">

    <div class="site-section">
        <div class="container">
          <div class="col-lg-12">
            <h2 class="text-center" style="color: #00024d;">
              <strong>Video Testimonials</strong>
            </h2><br>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 mb-5 p-2 mb-lg-0">
                <div>
                  <iframe width="100%" height="250" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock 'body' %}    

    